*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

body{
    background-color: aliceblue;
}

.container{
  background-color: #5252521c;
}

h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.card-img-top{
    border-radius: 50%;
    height: 250px !important;
    width: 250px !important;
    position: relative;
    margin-left: 45px;
    top: -80px;
    object-fit: cover;
}
.card{
    border-radius: 0;
    cursor: pointer;
    margin-top: 100px !important;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-body{
    margin-top: -50px;
}
.bi{
    font-size: 25px;
}
@media only screen and (max-width: 600px) {
    .card-img-top{
        
        left: 48px !important;
       
    }
  }

/* NavBar CSS Section */

#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}

.logo{
  text-decoration: none;
}
#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
hr{
  margin: 0;
  height: 1px;
  width: 100%;
}
#pages{
	display: flex;
	background: var(--light);
	justify-content: space-between;
	padding: 10px 10%;
}

#pages .pages-item{
	display: flex;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#pages a {
	font-family: var(--lato);
	color: #000000;
	padding: 7px 13px;
	font-weight: 400;
	border-radius: 10px;
	transition: .5s;
  text-decoration: none;
}

#pages .pages-item a:hover{
	cursor: pointer;
	font-size: 17px;
	font-weight: 900;
	color: #FFFF;
	background-color:var(--blue);
	
	
}


.profile-sub-menu-wrap {
	position: absolute;
	top: 100%;
	right: 1%;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s;
  }
  
  .profile-sub-menu-wrap.open-menu{
	max-height: 400px;
  }
  
  .profile-sub-menu {
	background: #ffff;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
  }
  
  .profile-sub-menu,
  .user-info {
	display: flex;
	flex-direction: column;
  }
  
  .user-info a {
	margin-bottom: 12px;
  }
  
  .user-info h2 {
	font-weight: 600;
	/* display: inline-block;
	justify-content: center; */
  }
  
  .user-info img {
	width: 55px;
	height: 55px;
	margin-right: 15px;
	object-fit: cover;
	border-radius: 50%;
  }
  
  .profile-sub-menu hr {
	border: 0;
	height: 1px;
	width: 100%;
	background: #cccc;
	margin: 15px 0 10px;
  }
  
  .sub-menu-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #525252;
	margin: 12px 0;
  }
  
  .sub-menu-link p {
	width: 100%;
	margin: 0;
  }
  
  .sub-menu-link img {
	width: 40px;
	height: 40px;
	background: #e5e5e5;
	padding: 8px;
	margin-right: 15px;
	border-radius: 50%;
  }
  
  .sub-menu-link span {
	font-size: 22px;
	transition: transform 0.5s;
  }
  
  .sub-menu-link:hover span{
	transform: translateX(5px);  
  }
  
  .sub-menu-link:hover p{
	font-weight: 600;
  }

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}


/* NAVBAR */

  
  @media screen and (max-width: 600px) {
    .navbar a, .dropdown .dropbtn {
      float: none;
      display: block;
      text-align: left;
    }
    
    .navbar a, .dropdown .dropbtn {
      width: 100%;
      padding: 10px;
    }
    
    .dropdown-content {
      min-width: 100%;
    }
  }
